# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
*.bbprojectd

# Backups created by aspell
*.md.bak*

# Tempfiles created by git-spell-check
docs-dictionary-*
temp_file-*